body
  padding-top 100px
  //@media (min-width: 1500px)
  //  zoom 1.25


.container-page
  max-width 750px
  //margin 0 auto

  .well
    padding 2em 4em

.navbar .nav>li:last-child>a
  border-right none

footer
  margin-top 5em

  .pull-right
    text-align right

.centered
  margin 0 auto

.fullwidth
  width 96%
  
a, .btn
  cursor pointer

label
  font-weight bold

pre 
  overflow auto
  max-height 5.5em

// Blur sensitive information to protect
// against shoulder surfing
.nosurf
  color transparent
  text-shadow 0 0 3px #7B8A8B

