- unsupported_styles = '<style>.unsupported-browser{display:block;visibility:visible}.content{display:none}</style>'

//if IE
  != unsupported_styles
script (window.crypto && window.crypto.getRandomValues) || document.write('!{unsupported_styles}')

.container.unsupported-browser.hidden: .alert.alert-error.alert-block
  :markdown
    ### Unsupported browser

    Your browser is not supported.
    We recommend using this website with a recent version of
    [Firefox](https://www.mozilla.org/en-US/firefox/new/)
    or [Chrome](https://www.google.com/chrome/).

    **Why is my browser not supported?**

    - Browsers without a cryptographically secure pseudo-random number generator (CSPRNG) are not supported.
      This is required for generating secure private keys and signing transactions.
    - The Internet Explorer browser is not supported due to limitations imposed on the URL length.
      The hash portion of the URL is used to store the transaction data.

noscript: .container: .alert.alert-error.alert-block
  :markdown
    ### JavaScript is required

    Your browser does not appear to support JavaScript, or its been turned off.
    This website heavily relies on JavaScript to manage the arbitration process,
    and cannot be used without it.
