.arbitrator-info.pull-right
  button.btn.btn-mini.has-spinner(type='button', data-toggle='tooltip',
    title='Optionally check if the arbitrator is a registered user and display his username. \
    Public keys that don\'t belong to registered users works too.')
    span.spinner: i.icon-refresh.icon-spin.icon-white
    |  Check public key
  .loaded-data User: 
    span.username
  .not-found-msg
    | Public key not found 
    i.icon-question-sign(data-toggle='tooltip', title='This means that the public key was not found in our arbitrator directory. \
                                                       If you are sure that public key is correct, but just not listed, then its fine.')
