label Your keys
.help-block
  :markdown
    A  unique pair of keys was created for you.
    If you wish to modify them, click [show advanced options](#advanced).
      
.keys-advanced
  .help-block
    :markdown
      The field below is populated with your generated private key and **should be kept secret**.
      For improved security, you can [replace it with a public key](security.html#keys)
      and sign your transactions/messages using the standard Bitcoin client.

  input.input-block-level(type='text', name='bob', value=bob_priv, placeholder='Public key (hex) or private key (base58)',
        required, pattern='[a-f0-9]{130}|[a-f0-9]{66}|[59cKL][123456789ABCDEFGHJKLMNPQRSTUVWXYZabcdefghijkmnopqrstuvwxyz]{50,51}',
        autocomplete='off')

  include ../../../views/includes/local-keys
