extend ./template/layout

append template-vars
  active_page = '/arbitrate.html'

prepend title
  | Become an arbitrator | 

append scripts
  script(src='arbitrate/new.js')

append css
  link(rel='stylesheet', href='arbitrate.css')

// Content is loaded with JS
