body
  padding-top 60px

  @media (max-width: 979px)
    padding-top 0
    
.container-page
  max-width 750px

.navbar .btn
  margin-top 13px

footer
  margin-top 2em

  .menu
    float right
    text-align right

    @media(max-width: 767px)
      float none
      text-align left

.centered
  margin 0 auto

.fullwidth
  width 96%

.alert a
  color #2c3e50 !important
  
a, .btn
  cursor pointer

label
  font-weight bold

pre 
  overflow auto
  max-height 5.5em

// Blur sensitive information to protect
// against shoulder surfing
.blurry
  color transparent
  text-shadow 0 0 3px #7B8A8B
.break
  word-break break-all

.signed
  cursor pointer
  
.proof-popover
  pre
    max-height 10em
    background transparent
    color #fff
    border 0
  
