
.container-home
  max-width 1000px
  margin 0 auto

  .hero-unit
    background none
    margin-top 30px
    padding 30px
    text-align center

    h1
      font-weight 700
    .lead
      font-size 24px
      line-height 1.25
      margin-bottom 0
    .sublead
      margin-bottom 20px
    .btn
      @media (max-width: 767px)
        margin-bottom 10px

.home-text
  margin-top 45px

  h3, strong 
    font-size 16px
    color #2C3E50
    font-weight bold
    margin 0 0 0.25em 0
    padding 0
    line-height 145%
  ul
    list-style-type none
    margin-left 0
  li
    margin-bottom 20px
  .icon-check
    margin-top 3px
