body
  //padding 2em 5em 0
  padding-top 50px
  
.subhead h1
  font-size 54px

footer
  margin-top 3em

.navbar .nav>li:last-child>a
  border-right none

.btn
  cursor pointer

.form-terms
  margin-top 1em

#escrow
  pre 
    overflow auto
    &.long
      max-height 3em
    &.terms
      max-height 15em
      word-break normal

  .registered-as
    text-align right

  .add-address, .address
    margin-right 10px
  .fees
    margin 0 0 0 1em

.dispute, .review
  textarea
    height 8em
    width 95%
    display block
    box-sizing border-box
    -webkit-box-sizing border-box
    -moz-box-sizing border-box
.keep-copy
  margin-top 3em
