@import spinner

.tx-details
  label
    font-weight normal
  .pubkeys
    pre
      margin-bottom 5px
    .help-block
      text-align right
      font-size 0.8em
      margin 0
      line-height 1em
      color #7B8A8B    
    .nav
      margin-bottom -1px
      label
        margin 9px 1em 0 2px
    .tab-content
      overflow visible
    .nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus
      background-color whiteSmoke
      
.pay
  .multisig-address
    text-align center
    font-size 1.1em
    //font-weight bold
  .pay-link
    text-align center

.tx-builder
  .addresses
    margin 0 0 21px
  .address
    margin-bottom 0.5em
    input[name=address]
      width 22em
    .add-address, .del-address
      padding 9px 13px
      margin-right 7px
    .btn-group
      margin-bottom 1px // Bugfix
      .dropdown-toggle
        padding 9px 10px
  .release-btn
    float left
  .fees, .change
    float left
    padding-top 8px
    label
      float left
      margin 0px 7px 0 9px
  .fees input
    margin-top -8px

.tx-dialog
  textarea
    height 5em
  .confirm
    display none
  tfoot th
    text-align right
    font-weight bold

.tx-requests
  display none
  &.has-requests
    display block
  li
    cursor pointer
    color #1ABC9C

    &:hover
      text-decoration underline

.arbitrator-info
  .loaded-data
    display none
  &.loaded
    .loaded-data
      display block
    button
      display none
