//if IE
  style.
    .unsupported-browser{display:block;visibility:visible} .content{display:none}
script.
  (window.crypto && crypto.getRandomValues) ||
  document.write('<style>.unsupported-browser{display:block;visibility:visible} .content{display:none}</style>')

.container.unsupported-browser.hidden: .alert.alert-error.alert-block
  a.close(href='#', data-dismiss="alert") &times;
  :markdown
    #### Unsupported browser

    Your browser is not supported.
    We recommend using this website with a recent version of
    [Firefox](https://www.mozilla.org/en-US/firefox/new/)
    or [Chrome](https://www.google.com/chrome/).
