form.modal.hide.fade
  .modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
    h3 Success
  .modal-body!= message
  .modal-footer
    button.btn.btn-primary(data-dismiss='modal') Okay
