block template-vars
  modern_browser_only = false

mixin menu_item(path, anchor)
  li(class=(active_page == path ? 'active': '')): a(href=path)= anchor

doctype 5
html
  head
    meta(charset='utf-8')
    title: block title
      | Bitrated
    base(href=url)
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    block css
      link(rel='stylesheet', href='/lib/bootstrap/css/flatly.min.css')
      link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap-responsive.min.css')
      link(rel='stylesheet', href='/common.css')
    block head
  body
    .navbar.navbar-fixed-top: .navbar-inner: .container
      button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href='/') Bitrated
      .nav-collapse.collapse
        ul.nav
          +menu_item('/', 'Home')
          +menu_item('/new.html', 'Start transaction')
          +menu_item('/arbitrate.html', 'Offer arbitration')
          +menu_item('/u', 'Browse arbitrators')
        ul.nav.pull-right
          li: a(href='https://github.com/shesek/bitrated') <i class="icon-share icon-white"></i> Source Code 

    if modern_browser_only
      include ../mixin/test-browser
          
    .container.content: block content

    block scripts
      script(src='/lib/jquery.min.js')
      script(src='/lib/bootstrap/bootstrap.min.js')

    footer.muted.container
      .menu
        :markdown
          [<i span class="icon-lock"></i> Security](/security.html) &middot;
          [Terms](/terms.html) &middot;
          [Privacy](/terms.html#privacy) &middot;
          [About](/about.html) &middot;
          [Contact](mailto:hey@bitrated.com)

          [#{pubkey_address}](bitcoin:#{pubkey_address})
      :markdown
        This website is [open sourced](https://github.com/shesek/bitrated/) under the
        [MIT License](https://github.com/shesek/bitrated/blob/master/LICENSE).
        Contributions are welcome.

        &copy; 2013 Bitrated.
        <span class="text-error">Alpha release - **running on TestNet**</span>
        <a href="https://en.bitcoin.it/wiki/Testnet"><i class="icon-question-sign"></i></a>
