extend ../views/layout

prepend title
  | About | 

block content
  .container-page
    :markdown
      ## About

      This website is run by Bitrated Ltd, a company incorporated under the laws of the state of Israel,
      with Nadav Ivgi as the lead developer.

      Our goal is to make arbitration an open marketplace, where arbitrators can innovate and find new and
      creative ways to resolve disputes, and be judged based on the quality of their work and their reputation.

      We hope that by opening this market to new players, we can bring better solutions to consumers and merchants
      and allow them to transect safely over the internet, even anonymously. Domain-specific arbitrators with knowledge
      in specific fields can be chosen, allowing them to take better and more informed decisions.

      For inquiries, you can contact us at [hey@bitrated.com](mailto:hey@bitrated.com).
