extend ../views/layout

append template-vars
  active_page = '/arbitrate.html'
  modern_browser_only = true

prepend title
  | Offer arbitration | 

append scripts
  +js('arbitrate/new.js')

append css
  +css('arbitrate.css')

// Content is loaded with JS
