extend ../views/layout

prepend title
  | Browser extension | 

block content
  .container-page
    :markdown
      ## Browser extension

      Our browser extension provides improved security by verifying the intergrity
      of the files served by the server. The verification is done using two factors:

      - **Signature verification:**
        In addition to SSL, static files (html/css/javascript)
        are signed using standard Bitcoin message signatures on an offline machine
        (the private key was created on that machine, and has no other copies)
        and appended to the response body as a comment.

      - **Comparing against the code on GitHub repository:**
        The source code from the GitHub repository is built on Travis-CI,
        and the resulting hashes are published publicly on Travis's job page.
        The extension compares the web server response against those hashes.

      If a potential attacker gains control over the web server, he still only has
      access to information the web server already has (which is very little).
      To get sensitive information, he would have to modify the client-side code
      to send back more data to the server.

      For an attacker to succesfully mount such an attack against someone with the
      browser extension, he would have to:

      1. Gain access to the web server
      1. Gain access to the personal computer of a developer with commit access
         to the Github repository
      1. Gain pyshical access to the offline machine with the private key
      1. Commit his changes to the public GitHub repository, where they
         can be seen by anyone

      For users without the extension, he would only have to do the first step.
      It is highly recommended to install the extension.
