extend ../views/layout

append template-vars
  active_page = '/faq.html'

prepend title
  | FAQ | 

block content
  .container-page
    :markdown
      ## FAQ

      #### How does arbitration works?
      Arbitration is a dispute resolution mechanism where the arbitrator,
      an independent trusted third party, resolves disputes between two transacting parties,
      typically a buyer and a seller.

      The arbitrator is chosen ahead of time, and is to be agreed upon by both the buyer and the seller.
      In case of a dispute, the parties can ask the arbitrator to intervene, mediate the dispute
      and give his ruling.

      #### How does Bitcoin arbitration work?
      Bitcoin multi signature transactions allows to make payments into a deposit that requires
      the approval of m-of-n parties in order to release it.

      For arbitration, a 2-of-3 multisig address is created with the buyer, seller and arbitrator.
      The buyer deposits the payment to that address, and releasing it requires the approval of two of these parties.

      When the transaction ends well and the buyer is satisified, the buyer and the seller can sign a transaction
      together that releases the payment from the multisig address to the seller.

      In case of a dispute, both parties can contact the arbitrator, explain their side of the story
      and ask him to approve a transaction that releases the payment in the manner they find fair.

      The arbitrator can only approve a transaction that is signed by either the buyer or the seller,
      and cannot control the funds otherwise.

      There's also a [video explaination](http://www.youtube.com/watch?v=mD4L7xDNCmA#t=5m3s)
      of this process by Mike Hearn, from the Bitcoin 2012 London conference.

      #### What is this website?
      Birated provides a platform for using multi-signature transaction and a marketplace for Bitcoin arbitration services.
      We do not offer arbitration services ourselves, nor we are a party to any of the transactions
      conducted using our service.

      #### How do I use this website to create an arbitrated transaction?

      The transaction process has five main steps:

      1. The buyer and seller agree on the terms for the transaction and pick an arbitrator they both trust.
      2. One party [starts the transaction](new.html) by choosing the arbitrator and entering the terms.
         He gets a URL to share with the other party.
      3. When the other party opens that URL, he's requested to confirm the terms and the arbitrator.
         Once confirmed, both parties are presented with the multi-signature transaction page.
      4. The buyer deposits his payment into the multisig address displayed in the transaction page.
         The payment is locked in that address until two of the parties (buyer, seller and arbitrator)
         agree to release them.
      5. Depending on how the transaction ends,
         - If it ended well, one of the parties creates a transaction that releases the payment to the seller,
           which sends an approval request to the other party. Once approved, the transaction is broadcasted
           to the Bitcoin network and the payment is released.
         - In case of dispute, the parties can contact the arbitrator by providing him with the arbitrator
           link (which can be found on the transaction page) and request him to approve a transaction that releases
           the payment in the manner they find fair.

      #### Is this an escrow?
      No. Escrow services requires the parties to deposit the funds into an escrow,
      where the service provider has full control over them.
      Because of that, escrows are strictly government regulated and requires licensing,
      which raises the costs associated with operating an escrow.

      With Bitcoin's multi-signature transactions, the service provider never has full control over the funds.
      He provides dispute resolution and arbitration services,
      which fundamentally provides the same value to the end-users
      but does not require adhering to such strict regulations -
      making it easier to operate such services and lowers the costs for the arbitrator and the end-users.

      #### Which Bitcoin clients support paying to multi-signature?
      At the time of writing, the following clients are known to support paying to multi-signature
      (p2sh) addresses:

      - [Bitcoin-qt](http://bitcoin.org/en/download)
      - [Electrum](https://electrum.org/)
      - [Mycelium](https://play.google.com/store/apps/details?id=com.mycelium.wallet) (Android app)
      - [Android Wallet](https://play.google.com/store/apps/details?id=de.schildbach.wallet) (Android app)
      - [Airbitz](https://airbitz.co/bitcoin-wallet/) (Android & iOS apps)
      - [BitcoinSpinner](https://play.google.com/store/apps/details?id=com.miracleas.bitcoin_spinner) (Android app)
      - [Coinbase](https://coinbase.com/) (Web wallet)

      If you know of other clients that should be added to the list, please [contact us](mailto:hey@bitrated.com).

      #### Help, I lost my private key! Can you recover it for me?
      No. The private key only exists in your browser as part of the URL and in-memory while the service is used,
      and is never uploaded to our servers.
      If you lost your access to the URL, it cannot be recovered by any means.

      That being said, you might be able to recover the URL from your browsing history,
      unless you used the incognito or private browsing mode.

      #### Do you charge fees?
      No. We do not and will not charge fees for using the multi-signature payment system.
      However, the arbitrators you're using might charge fees, as specified in their terms of service.

      In the future, we may charge fees for additional services - but everything that's free now
      will remain so.

      #### What about a rating system?
      We're working on it. Stay tuned!
