extend ../views/layout

append template-vars
  modern_browser_only = true

prepend title
  | Join transaction | 

append css
  +css('tx.css')

append scripts
  +js('tx/join.js')

// Content is loaded with JS
