extend ../views/layout

append template-vars
  active_page = '/new.html'
  modern_browser_only = true

prepend title
  | Start transaction | 

append scripts
  +js('tx/new.js')

append css
  +css('tx.css')

// Content is loaded with JS
