//
//
// This file is NOT released under the AGPLv3 license,
// all rights are reserved.
//
//


extend ../views/layout

prepend title
  | Terms of service | 

append css
  :stylus
    .tos
      ol
        margin-bottom 1em
      & > ol > li > ol
        list-style-type lower-alpha
        & > li > ol
          list-style-type lower-roman

block content
  .container-page.tos
    :markdown
      ## Bitrated Terms of Service

      <p class="muted">Version 1.0, Last amended July 24, 2013.</p>

      Welcome to Bitrated, the on-line marketplace for multi-signature CryptoCoin transactions and arbitrations.
      Bitrated is operated by HumanInternals, a partnership incorporated under the laws of the state of Israel.

      Bitrated uses CryptoCoins multi-signature services to allow you to enter into a transaction (such as on-line commerce) with any person,
      and to make sure that if the transaction failed, an arbitrator may be able to withhold the payment.
      This means that you can add certainty to your transactions.

      If you wish to register yourself as an arbitrator in such transactions, you may also do so.

      However, Bitrated cannot assure the quality of the on-line transactions you perform or the quality of the arbitrators in the site.

      Moreover, no matter what, Bitrated shall not be liable for any damage, or for loss of property.

      Lastly, do not use Bitrated for any illegal or fraudulent transactions.

      We request that you read the full terms before beginning:

      1. **Registration & Eligibility**: By signing up to the Bitrated service, you hereby acknowledge and accept these terms and agree to be bound by them.
        In order to use the Bitrated service you shall be required to maintain your account details secure and adhere to Bitrated's terms of eligibility, as stated herein.

        Please note that even if you do not register and do not provide any identifying means to Bitrated, you must comply with these eligibility terms.

        1. **Creating A User Account**: In order to use the Services, you will be required to set up a user account, such account may be used in either
           participate in transactions or arbitrate in such transactions.

        2. **Eligibility**: By accepting these terms, you hereby warrant that you are entitled to Bitrated's eligibility terms and that,
          if you are operating on a behalf of a corporation, that all the end-users and employees of it which shall be granted access to Bitrated.com
          adhere to these terms as well.

          1. **Adult**: You are over 18 years of age, or if you are a corporation, the corporation is valid and allowed to enter into this Agreement.

          2. **Residence**: You do not reside in any proscribed state.

          3. **Solvent**: You are solvent and have not filed for bankruptcy, liquidation, debt arrangement or otherwise lost your ability into
             entering into agreements such as these terms.

          4. **Authorized**: If you are acting on behalf of a corporation, then you are the authorized entity to enter into these terms and are
             acting on behalf of such corporation.

        3. **Authentication**: If you choose to register to the Services, Bitrated shall authenticate your identity using certain services, and may, at its own discretion, request additional authentication. Please note that for most services, authentication and registration is moot.

        4. **Security and integrity of account**: Due to the sensitivity of information stored on your behalf on service and the potential risk of loss of revenues or virtual property, you *may *be required to enter a password for your Account or receive a private key from Bitrated. Please keep in mind that Bitrated strongly encourages the use of strong accounts (such as, %yo0b!o\/\/my^^i/\/6 or correcthorsebatterystaple, but don't use these two) and that using the same account for more than one user or in more than one website is considered a bad practice.

          **Please note that if you receive a private key from Bitrated, you must keep it safe and available, as there will be no other way to access your account.**

          For more information about strong passwords and how to find strong passwords that are easy to remember, please read the following pages:

          http://www.baekdal.com/insights/password-security-usability

          [https://xkcd.com/936/](https://xkcd.com/936/)

          1. **Sharing your login data**: You are specifically prohibited from sharing your username, password and/or private keys with any 3rd party.
          2. **Retaining your login data**: Bitrated highly discourages the use of password managers in order to retain your login information.
          3. **Notification**: You are required to inform Bitrated, immediately, upon any case where you believe that your account was breached and in any case you are in knowledge of any unauthorized use of any Bitrated account.
          4. **Bitrated's Liability**: Bitrated shall not be liable in any case where you did not adhere to these security guidelines and shall not be able to assist you in any manner should you refrain from using Bitrated's best practices as published from time to time.

      2. **Sending or Receiving Crypto-Coins**: Bitrated may allow you to utilize the Multi-Signature feature in some crypto coins in order to send or receive Crypto-Coins; however, **these transactions are between you and the transacting party, and Bitrated is not a party to such transaction**. In such case, you and the other party to the transaction shall select an Arbitrator from the list of Arbitrators in the Bitrated website and appoint him as the arbitrator in any case of dispute. In turn, all the parties to the transaction shall enter their public (or private) keys, and the terms of the transaction. 

        Once the terms of the transaction are finalized, and the transaction is executed, the cryptocoins shall be released by the consent of 2 out of 3 from the selling party, the receiving party and the arbitrator. 

        If any dispute arises, then the Arbitrator's ruling shall be final.

      3. **Listing as an Arbitrator**: You may list yourself as an Arbitrator for any transaction, and provide the other parties the terms of any Arbitration, including your fees for any transaction, your fees for arbitration, how the arbitration be conducted (video chat, email, etc) and what are your terms. However, please note that in the following cases, you cannot act as an arbitrator: (i) in any case of conflict of interest and/or have any personal or professional relation with any of the transacting parties; (ii) if you cannot provide unbiased arbitration due to any of your personal beliefs; (iii) if you are personally interested in the result of the arbitration and/or the transaction.

        **You are solely responsible for laying out the terms of any arbitration you manage.**

      4. **Solely Legal Transactions**: You may only use Bitrated's services for legal and ethical transactions. While Bitrated cannot monitor and shall not monitor your transactions, you are specifically prohibited from entering into any transaction which: (i) involves the sale of illegal goods such as firearms, child pornography, illicit drugs, violent material or trafficking in women; (ii) involves the infringement of 3rd party rights, such as copyright and the right for privacy; (iii) involves gambling or any other sort of financial fraudulent activity such as trading in binary options, pyramid schemes, multilevel marketing or similar activity; (iv) misleads consumers; (v) sells any pharmaceutical drugs without prescription or sells any homeopathic, "magic", or other non-clinically proven medicine.

      5. **Fees**: For its services, Bitrated may charge fees, as it sets forth from time to time. Such fees may be deducted in source from any transaction, or be paid separately. 

        For example, Bitrated may charge registration fees from Arbitrators to authenticate their identity and to validate their wallets or charge you to review or post reviews for any Arbitrators.

        As the payments are for services provided, they are non-refundable.

      6. **Contribution & Product Policy**: When posting content through the services and when selling products or services through the service, you hereby accept and agree to adhere to this policy. 

        Please keep in mind that this policy applies both to virtual goods and physical goods you sell through the service. 

          1. **Contribution Policy**: By either providing Bitrated with textual or graphic material or by using Bitrated's Services to create textual or other content, You hereby accept Bitrated Contribution Policy as set forth. You acknowledge that any violation of the Contribution Policy may cause termination of Your Service, removal of Your content or contribution and legal action by both Bitrated and the person whose rights were infringed. For the purpose of this Policy, the term Contribution shall refer to: (i) images and/or text used in creating user generated content, arbitration listings, reviews; (ii) images retrieved from 3rd parties in such postings; (iii) description, text and information processed through Service; (iv) submissions made through Service.

            1. **Copyright License**: You hereby grant Bitrated an irrevocable, permanent, unlimited, world-wide, royalty-free, sublicensable, non-exclusive license to use Your Contribution and to allow users to view Your Contributions according to the functionality of Service and through or other 3rd party services, including the creation of derivative works and the creation of three dimensional works.

            2. **Model Release**: You hereby grant Bitrated the permission to use and display Your Contribution and Your Name in order to endorse Bitrated.

            3. **Offensive Content**:You hereby warrant that Your Contribution are not offensive and do not infringe the right of any 3rd party, including, but not only:

                1. **Intellectual Property Infringing**: Your Contribution does not infringe any 3rd party copyright, design, patent, trademark, trade secrets or any other intellectual property rights.

                2. **Pornography**: Your Contribution does not contain any text, image or depiction including nudity, profanity, sexual activity, sexual innuendos, sexually offensive or otherwise obscene.

                3. **Slanderous**: Your Contribution does not slander, defame or otherwise harm the good name of others.

                4. **Hate Speech and Racist**: Your Contribution does not include any hate speech or racist opinions, as well as does not incite others for violent acts against persons solely in regards to their inclusion of a specific groups.

                5. **Scams**: Your Contribution is not used to initiate any scam, market manipulation, pyramid scheme, phishing or otherwise any use which may be used to extract goods and/or money from others, including any virtual property.

                6. **Warranty**: You hereby warrant that You are either the sole proprietor or a designated licensee of any Contribution You process through service and that no other party's rights are infringed or violated by using Contribution and Service. You moreover warrant that that no legal claim, dispute or lawsuit was filed against You or threatened against You for publishing Contribution.

                7. **Sale of Products and Services**: When you sell products trough the Bitrated marketplaces, you hereby warrant that (i) you are authorized to sell such products and obtained all relevant permissions; (ii) your sale of the products shall not infringe on the rights of any 3rd party, including trademarks, trade secrets, copyrights or other intellectual property rights; (iii) you shall adhere to all relevant regulations regarding the sale of products.

            4. **Notice and Takedown Mechanism**: In order to protect Your rights, Bitrated has set up this Notice and Takedown Mechanism to help You protect Your Contributions and to ensure that no unauthorized use is made.

              1. **Prescreen and Moderation**: You acknowledge that Bitrated cannot pre-screen all Contributions, but that it shall have the right (but not the obligation) in their sole discretion to refuse or remove any Contribution or User Account that is available via the Service. Bitrated shall have the right to remove any Contribution or User Account that violates these Terms of Service or is otherwise objectionable.

              2. **Disclosure of Content**: You acknowledge and agree that Bitrated may preserve Contribution and may also disclose Contribution if required to do so by law or in the good faith belief that such preservation or disclosure is reasonably necessary to: (a) comply with legal process; (b) enforce these Terms of Service; (c) respond to claims that any Contribution violates the rights of third-parties; or (d) protect the rights, property, or personal safety of Bitrated, its Users, and the public. You understand that the technical processing and transmission of the Service, including your Contribution, may involve (a) transmissions over various networks and (b) changes to conform and adapt to technical requirements of connecting networks or devices.

              3. **Harmless**: You agree and warrant to hold Bitrated and Users harmless and to immediately indemnify Bitrated or Users for any claim of copyright infringement, trademark dilution or patent infringement for any use of Contribution according to these Terms of Service. You also agree to indemnify Bitrated and/or Users for any 3rd party lawsuit for Copyright infringement due to their use of Contribution made available by You.

              4. **Cease and Desist**: Bitrated values others your rights, and therefore shall comply with all state regulations regarding 3rd party rights. Should you encounter any Contribution which you believe to be in violation of any of Your rights, good name or copyrights, Please file an infringement complaint to our Content officer: notice@bitrated.com; Bitrated's officer shall examine your complaint and shall forward it to the user who published said Contribution for his answer, if possible. Should your complaint be false, harassing or in order to prevent legal use of Service, you shall bear all liability to compensate the user which you reported as infringing and/or Bitrated. In your complaint you will be required to inform us with: (i) a written statement regarding what Contribution infringes your rights and proof that You hold those rights; (ii) what is the exact URL of the Contribution; (iii) notification that you believe that the use made by the Contribution is not considered fair-use, criticism, consumer protest or any other protected speech.

              5. **Moderation**: Pursuant to any Cease and Desist notification, and promptly thereafter, Bitrated will moderate the Content and review your request; Bitrated shall notify the User who posted the Content on Your complaint, including Your information and request his response, if possible.

              6. **Removal or Restoration**: Should the User who posted the content fail to respond within 96 hours, Bitrated shall remove the Content; had he responded, Bitrated will inspect his response and had there any material questions of fact or law arise, Bitrated shall forward his personal information directly to You so you could commence litigation over You complaint.

            5. **Indemnification**: You hereby warrant and agree to hold Bitrated harmless and to indemnify Bitrated for any damage, loss, expense, legal expense or cost incurred as a result of (i) Your posting of any Contribution in direct violation of Bitrated Contribution Policy, including any false representation; OR (ii) any claim, complaint or notification filed maliciously or negligently against any User where no such claim had any legal standing.
        <span id="privacy"></span>
      7. **Privacy Policy**: Bitrated values your privacy, and therefore has set up this extensive privacy policy to inform you of your rights. Please take into consideration that Bitrated may disclose some information to 3rd parties as a part of its services, and may obey local regulations if required by law.

        1. **What Personal Information Does Bitrated retain?** Bitrated may retain some personal information you provide it, such as your name, email address, your previous transactions and feedback and other information either you provided it or was by other users. 

          Bitrated also retains your IP address and Public keys, for the duration required to perform the transaction, which is at most times 24 hours, but may last up to 90 days in certain cases.

        2. **What Non-Personal Information Does Bitrated retain? **Bitrated may retain some non-personal information, which may be used by the service, such as your approximate geolocation, your transactions (which are stored temporarily), the pages you visited, your browser version and operating system version.

        3. **Who Has Access To Your Information? **Apart from Bitrated's employees and agents, who are under strict confidentiality obligations, Bitrated may provide information to other users when you transact with them and with the relevant cryptocoin blockchain. 

          Moreover, if Bitrated is required by a competent law enforcement agency to disclose information according to a court order or other legal obligation, it shall do so.

        4. **How Is Your Information Processed? **Bitrated uses your personal information to provide you with the services, and may use your personal information to improve the service and test additional features.

        5. **How Is The Information Secured? **Bitrated uses industry grade security services to secure your information, such security includes routine checks and backups.

        6. **How Can You Review Your Information?** You can always use the service to view your profile and review the information stored about you.

        7. **How can you terminate your account?  **You can always request to terminate your account and remove all your personal information. Keep in mind that if Bitrated is required by law to retain this information for audit and financial reasons, it must keep it.

      8. **Liability: **For no case and for no reason shall Bitrated be held liable for any damage, direct or indirect, consequential, exemplary, physical or special, to you, any other user or any 3rd party due to its misperformance of duties herein. Bitrated provides Service on an AS-IS basis and shall not be held liable, to the extent permitted by law, by any case of misconduct, negligence, gross negligence, malice or any other mean, to any damages or loss of property, including damages to: your credit on the Bitrated service, virtual property, reputation and business reputation, user account information including login information, loss of profit, loss of good name, all resulting from the use or inability to use Bitrated services.

      9. **Warranty: **Bitrated does not warrant for Service and supplies it on an “as-is” and “as-available” basis. Your Use of Service is at your own risk and under your liability. Bitrated makes no warranty that (i) the Service will meet your requirements and (ii) the Service will be uninterrupted, timely, secure, or error-free and (iii) the results that may be obtained from the Use of the Service will be accurate or reliable and (iv) the quality of any products, services, information, or other material purchased or obtained by You through Service will meet your expectations, or (v) any errors in the Service will be corrected. 

        Moreover, you hereby acknowledge that the Service is in early alpha stage and that it is currently under development. You acknowledge that the Service may be flawed and that some errors may occur.

      10. **Indemnification:** You hereby warrant and agree to hold Bitrated harmless and to indemnify Bitrated for any damage, loss, expense, legal expense or cost incurred as a result of (i) Your use of the Services in direct violation of these terms of service, including any false representation; OR (ii) any claim, complaint or notification filed maliciously or negligently against any Bitrated user where no such claim had any legal standing.

      11. **Availability: **Bitrated might disable the Bitrated service from time to time for scheduled backups, maintenance or upgrades. In some extreme cases, where urgent maintenance is required, Bitrated may disable the service immediately and without notice.

      12. **Support:** Currently, and due to the early stage of the Bitrated service, support is only provided by Electronic mail and during regular business hours at [support@bitrated.com](mailto:support@bitrated.com).

      13. **Amending these Terms: **Bitrated may amend these terms from time to time, provided that you shall be informed through electronic communication on such amendment and shall be granted to option to terminate your agreements with Bitrated by providing a 30 days prior written notice.

      14. **Terminating User Accounts: **Bitrated shall have the right to terminate your use of the Bitrated service or to terminate the Bitrated service at any time and by providing a 30 day prior notice. However, Bitrated may terminate your use of the Bitrated service at any time and with no prior written notice in any case where you breached these terms and such breach may cause Bitrated irreparable harm. You may terminate your account at any time, but please note that in such case, your virtual property held in any Cryptowallet may expire or be lost.

      15. **Independent Contractors: **The parties enter into these terms as independent contractors. Nothing in these terms shall create any employee-employer relationship, partnership, joint venture, equity holdings or any other legal construction.

      16. **Severability: **If any provision of these terms shall be held unenforceable by any competent legal authority, it shall not limit the other provisions of these terms.

      17. **Governing Law, Jurisdiction: **These terms shall be solely governed by the laws of the state of Israel and any dispute arising from it shall be solely brought to the competent courts of the Tel-Aviv district. You hereby warrant and undertake not to initiate any class action lawsuit against Bitrated, any merchant or user of the service, for any cause and to solely seek your own damages.
