.modal.hide.fade: form(onsubmit='return false')
  .modal-body
    p Enter raw transaction in hex format:
    textarea.input-block-level(name='rawtx', rows=5)
    .errors
     
  .modal-footer
      button.btn(data-dismiss='modal') Cancel
      button.btn.btn-primary.ok(type='submit') Load raw transaction

