//if IE 
  .container: .alert.alert-error.alert-block
    a.close(href='#', data-dismiss="alert") &times;
    :markdown
      #### Unsupported browser

      The Internet Explorer browser is not supported.
      We recommend using this website with
      [Firefox](https://www.mozilla.org/en-US/firefox/new/)
      or [Chrome](https://www.google.com/chrome/).
    //- hide content
  style .content{display:none}

