.container-page.centered
  h3 Awaiting other party...
  :markdown
    Provide the following URL to the other party.
    It allows him to send you his public key and signature.
    This page will be updated automatically when it arrives.
  pre.url= alice_url 
  :markdown
    This URL contains your *public* key, the arbitrator public key, the terms and your digital
    signature of the terms.
