.container-page
  // form is processed client-side, should never be submitted anywhere
  form(action='http://')
    fieldset
      legend Start new arbitrated transaction 

      label Arbitrator public key
      .help-block
        :markdown
          **Required.** The owner of this public key will be given power to arbitrate the transaction.
          You can browse the list of available arbitrators [here](/u), or use any other public key.
        input.input-block-level(type='text', name='trent', placeholder='Public key (hex)', value=trent,
                                required, pattern='^([a-f0-9]{130}|[a-f0-9]{66})$')

      label Your public/private key
      .help-block
        :markdown
          This random private key was created for you and **should be kept secret**.
          For improved security, you can replace it with a [locally generated public key](security.html#keys)
          and sign your transactions/messages locally.

          Please note that the key is stored in the URL, and as such is saved to your browsing history.
          To avoid that, switch to incognito/private browsing mode.
        input.input-block-level(type='text', name='bob', value=bob_priv, placeholder='Public key (hex) or private key (base58)',
              required, pattern='^([a-f0-9]{130}|[a-f0-9]{66}|[59cKL][123456789ABCDEFGHJKLMNPQRSTUVWXYZabcdefghijkmnopqrstuvwxyz]{50,51})$',
              autocomplete='off')
        .muted
          :markdown
            <i class="icon-lock"></i>
            **Private keys are never processed by our servers.**
            See our [secuity policy](/security.html) for more information.

      label Terms of agreement
      .help-block
        :markdown
          **Required.** The terms should include contact information for both parties,
          Bitcoin addresses, description of the transaction, the conditions upon which
          the transaction is valid and any other agreed upon terms.

          The terms are signed with both parties private key, and the signatures
          are exchanged. In case of dispute, this allows you to prove the other
          party agreed to those terms.
      ul.nav.nav-tabs
        li.active: a(href='#text', data-toggle='tab') Text
        li: a(href='#file', data-toggle='tab') File
        li: a(href='#hash', data-toggle='tab') Hash
      div.tab-content
        .tab-pane.active#text
          p.help-block The terms will be embedded into the page URL, to make it easy to store and share them. 
                     | Limited to 5,000 characters.
          textarea.input-block-level(name='terms', rows=8, cols=90, maxlength=5000).
            Example (replace with your own):
             
            Bob - the seller
              Email: bob@gmail.com
              Phone: 573-265-3743 (GMT +6)
              Payment address: 18K25Djgv58gKFgxBd9sbjXuh3yamf1mUh

            Alice - the buyer
              Email: alice@gmail.com
              Bitmessage: BM-orkCbppXWSqPpAxnz6jnfTZ2djb5pJKDb
              Refund address: 1Nn8QKSG75zj2jyCKRc9LkYofToFNUwQms
            
            Bob is selling a used iPhone 4 to Alice for 10 BTC. Alice is aware that it has a small scratch on the back panel.

            After Alice deposits 10 BTC to the multisig address, the device will be sent via registered mail to 233 Five Points, Easton, MD 21601.

            Once Alice gets it, she'll release the 10 BTC (minus transaction fees) to Bob.

            If one of the parties isn't responsive for over 2 weeks, the funds shall be transferred to the other party.
          p.muted The terms are private and are never uploaded to the server. They're stored in the hash portion of the URL,
                | and only available to you and people you share URLs with.
        .tab-pane#file
          .help-block
            p Only the file's hash will be embedded to the URL. Both parties should have a safe local copy of the file.
            p Select file: 
              input(type='file', name='terms_file')
            p.muted The file is hashed and signed locally, and is never uploaded to the server.
        .tab-pane#hash
          p.help-block You can hash the terms locally and input the hash here:
          input.input-block-level(type='text', name='terms_hash')

    button.btn.btn-large.btn-primary(type='submit') Start transaction 
  .muted
    :markdown
      By using this service, you agree to [Bitrated terms of services](/terms.html).
