block template-vars

mixin menu_item(path, anchor)
  li(class=(active_page == path ? 'active': '')): a(href=path)= anchor

doctype 5
html
  head
    meta(charset='utf-8')
    title: block title
      | Bitrated 
    block css
      link(rel='stylesheet', href='/lib/bootstrap/css/flatly.min.css')
      link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap-responsive.min.css')
      link(rel='stylesheet', href='/common.css')
  body
    .navbar.navbar-fixed-top: .navbar-inner: .container
      button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href='/') Bitrated
      .nav-collapse.collapse
        ul.nav
          +menu_item('/', 'Home')
          +menu_item('/tx.html', 'Start transaction')
          +menu_item('/arbitrate.html', 'Offer Arbitration')
          +menu_item('/u', 'Browse arbitrators')
        ul.nav.pull-right
          li: a(href='https://github.com/shesek/bitrated') <i class="icon-share icon-white"></i> Source Code 

    .container.content: block content

    block scripts
      script(src='/lib/jquery.min.js')
      script(src='/lib/bootstrap/bootstrap.min.js')

    footer.muted.container
      .menu
        :markdown
          [<i span class="icon-lock"></i> Security](/security.html) &middot;
          [Terms](/terms.html) &middot;
          [Privacy](/terms.html#privacy) &middot;
          [About](/about.html) &middot;
          [Contact](mailto:hey@[replace-with-domain].com)

          [#{pubkey_address}](bitcoin:#{pubkey_address})
        script $('body > footer a[href^="mailto:"]').attr('href','mailto:hey@'+document.location.hostname.replace(/^www\./,''))
      :markdown
        This website is [open sourced](https://github.com/shesek/bitrated/) under the
        [MIT License](https://github.com/shesek/bitrated/blob/master/LICENSE).
        Contributions are welcome.

        &copy; 2013 Bitrated. Some rights reserved.
      .alert.alert-block
        :markdown
          This is **beta quality** software that is activaly being tested
          and is not ready for production use.
          Do not use with significant amounts of money.

          Please report bugs or send feature requests to GitHub's
          [issue tracker](https://github.com/shesek/bitrated/issues/new).
